{% extends reg_get('output.base_tpl') %}
{% block content %}
    <div id="{{ entity.model }}-view" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content-entity" data-model="{{ entity.model }}" data-entity-id="{{ entity.id }}">
                    <article class="article">
                        <h1 class="title">{{ entity.title | e }}</h1>

                        {% if entity.images %}
                            <div class="image">
                                {{ entity.images[0].get_responsive_html(entity.title) }}
                            </div>
                        {% endif %}
                        {% block meta %}
                            <div class="meta">
                    <span class="author">
                        <i class="fa fa-user"></i>&nbsp;
                        {{ entity.author.full_name }}
                    </span>
                    <span class="date"><i
                            class="fa fa-calendar"></i>&nbsp;{{ entity.publish_time | date('pretty_date_time') }}</span>
                                <span class="views_count"><i class="fa fa-eye"></i>&nbsp;{{ entity.views_count }}</span>
                                <span class="comments_count"><i
                                        class="fa fa-comment"></i>&nbsp;{{ entity.comments_count }}</span>
                            </div>
                        {% endblock %}

                        {% block description %}
                            <p class="description">
                                {{ entity.description | e }}
                            </p>
                        {% endblock %}

                        <div class="body">
                            {{ entity.body }}
                        </div>
                    </article>

                    {% if entity.ext_links %}
                        <div class="ext-links">
                            <span>{{ t('external_links') }}</span>:
                            {% for link in entity.ext_links %}
                                <a target="_blank" href="{{ link }}">{{ t('link')|lower }}</a>&nbsp;
                            {% endfor %}
                        </div>
                    {% endif %}


                    {% if entity.ui_can_be_modified() %}
                        <div class="row actions">
                            <div class="col-xs-12 text-right">
                                <a href="{{ ep_url('pytsite.odm_ui.ep.m_form', {'model': entity.model, 'id': entity.id|string, '__redirect': current_url()}) }}"
                                   class="btn btn-default">{{ t('edit') }}</a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row public-actions">
                        {% block tags %}
                            <div class="tags col-sm-6">
                                {{ entity_tags }}
                            </div>
                        {% endblock %}

                        {% block share %}
                            {% if share_widget %}
                                <div class="share col-sm-6">
                                    {{ share_widget }}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>

                    {% block comments %}
                        <div id="comments">
                            {{ comments_widget }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
