{% extends reg_get('output.base_tpl') %}
{% block content %}
    <div id="home">
        {% if articles %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ t('articles') }}</h1>
                        <ul>
                            {% for article in articles %}
                                <li><a href="{{ article.url }}">{{ article.title | e }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
