<!DOCTYPE html>
<html lang="{{ current_lang() }}">
<head>
    {{ metatags() }}
    {{ css_links() }}
</head>
<body class="application">

{% include 'parts/header.jinja2' %}

<div id="page" class="container">
    {% include 'parts/messages.jinja2' %}
    <div class="row">
        <div id="content" class="{% if sidebar %}col-md-8{% else %}col-xs-12{% endif %}">
            <div class="inner">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% if sidebar %}
            <aside id="sidebar" class="col col-md-4">
                <div class="inner">
                    {% block sidebar %}
                        {% include 'parts/sidebar.jinja2' %}
                    {% endblock %}
                </div>
            </aside>
        {% endif %}
    </div>
</div>

{% include 'parts/footer.jinja2' %}

{{ js_links() }}
{{ inline_js() }}

</body>
</html>
