<div class="navbar navbar-bottom">
    <div class="container">
        <ul class="nav navbar-nav">
            {% for link in reg_get('app.links', ()) %}
                {% set icon = 'fa fa-globe' %}
                {% if 'facebook.com' in link %}
                    {% set icon = 'fa fa-facebook' %}
                {% elif 'twitter.com' in link %}
                    {% set icon = 'fa fa-twitter' %}
                {% elif 'google.com' in link %}
                    {% set icon = 'fa fa-google-plus' %}
                {% elif 'tumblr.com' in link %}
                    {% set icon = 'fa fa-tumblr' %}
                {% endif %}
                <li><a target="_blank" href="{{ link }}"><i class="{{ icon }}"></i></a></li>
            {% endfor %}

            {% for page in pages %}
                {{ nav_link(page.url, page.title) }}
            {% endfor %}
        </ul>

        {{ language_nav }}

        <p class="navbar-text navbar-right">
            {% set launch_year = reg_get('app.launch_year') %}
            {% set current_year = '' | date('%Y') %}
            {% if launch_year and launch_year != current_year %}
                <small>&copy; {{ launch_year }}-{{ current_year }} {{ t('app_name') }}</small>
            {% else %}
                <small>&copy; {{ current_year }} {{ t('app_name') }}</small>
            {% endif %}
        </p>
    </div>
</div>
