<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-top-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url() }}">{{ t('app_name') }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-top-collapse">
            <ul class="nav navbar-nav">
                {% for section in sections %}
                    {{ nav_link(router.ep_url('app.article.index.section', {'term_alias': section.alias}), section.title) }}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% set user = get_current_user() %}
                {% if user.is_anonymous %}
                    {{ nav_link(ep_url('pytsite.auth.ep.login', {'driver': 'ulogin'}), t('pytsite.auth@login')) }}
                {% else %}
                    {% if user.has_permission('admin.use') %}
                        {{ nav_link(ep_url('pytsite.admin.ep.dashboard'), t('pytsite.admin@admin')) }}
                    {% endif %}
                    {{ nav_link(user.profile_view_url, t('profile')) }}
                    {{ nav_link(get_logout_url(), t('pytsite.auth@logout')) }}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
