<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-top-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url() }}" title="{{ t('app_name') }}">
                <img width="20" height="20" src="{{ assetman_url('img/appicon.png') }}" alt="Logo">
            </a>
            <a href="{{ base_url() }}" class="navbar-brand">{{ t('app_name') }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-top-collapse">
            <ul class="nav navbar-nav">
                {% for section in sections %}
                    {{ nav_link(ep_url('app.article.index.section', {'term_alias': section.alias}), section.title) }}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% set user = auth_current_user() %}
                {% if user.is_anonymous %}
                    {{ nav_link(auth_sign_in_url(), t('sign_in')) }}
                {% else %}
                    {% if user.has_permission('admin.use') %}
                        {{ nav_link(ep_url('pytsite.admin.ep.dashboard'), t('pytsite.admin@admin')) }}
                    {% endif %}
                    {{ nav_link(user.url, t('profile')) }}
                    {{ nav_link(auth_sign_out_url(), t('sign_out')) }}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
